<h2>Create your Account</h2>
<form method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>Join as:</label>
    <select name="role">
        <option value="Customers">Buyer</option>
        <option value="Vendors">Vendor</option>
    </select><br>

    <button type="submit">Sign Up</button>
</form>